:root {
    --dark-blue: #041833;
    --normal-blue: #154580;
    --gradient-blue: linear-gradient(180deg, var(--normal-blue) 0%, var(--dark-blue) 100%);
    --green: #84EEC1;
    --grey: rgba(196, 196, 196, 0.2);
    --color-text: #ffffff;
    --font-text: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    background: var(--gradient-blue);
    font-family: var(--font-text);
    display: grid;
    grid-template-areas: 
        'aside header'
        'aside main';
        grid-template-columns: auto 1fr;
}

.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

.side-menu {
    background-color: var(--dark-blue);
    padding: 2.5rem .5rem 0;
    font-weight: 600;
    letter-spacing: 2px;
    width: 230px;
    grid-area: aside;
}

.side-menu__link::before  {
    padding-left: 1rem;
    padding-right: .5rem;
    vertical-align: middle;
}

.side-menu__link {
    font-family: var(--font-text);
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: .5rem;
}

.active {
    background-color: var(--normal-blue);
    border-radius: 5px;
    padding: .75rem 0;
}

.side-menu__link--home::before {
    content: url("../img/icone-home.svg");
}

.side-menu__link--search::before {
    content: url("../img/icone-busca.svg");
}

.side-menu__link--library::before {
    content: url("../img/icone-biblioteca.svg");
}

.side-menu__playlist {
    text-transform: uppercase;
    padding-left: 1rem;
}

.side-menu__link--playlist::before {
    content: url("../img/icone-add_box.svg");
}

.side-menu__link--podcasts::before {
    content: url("../img/icone-stars.svg");
}

.header {
    padding-top: 2.5rem;
    grid-area: header;
}

.header__btn:nth-of-type(1) {
    margin-right: 1rem;
}

.section__title {
    font-weight: 700;
    font-size: 1.5rem;
}

.card__title {
    font-weight: 700;
    line-height: 22px;
}

.card__subtitle {
    font-size: 14px;
}

.section-horizontal .card {
    background: var(--grey);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.section-horizontal .card__img {
    height: 72px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.section-horizontal .card__player {
    width: 164px;
    height: 4px;
    background: white;
    border-radius: 10px;
}

.section-horizontal .card__btn {
    width: 70px;
}

.section-vertical .card {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    padding: 1rem;
    padding: 1rem;
}

.section-vertical .card__img {
    height: 133px;
    margin-bottom: .5rem;
}
.section-vertical .card__subtitle {
    margin-top: .75rem;
}

.navbar {
    position: fixed;
    bottom: 0;
    background-color: var(--dark-blue);
    width: 100vw;
    opacity: 0.9;
}
.navbar__items {
    width: 80%;
    margin: .5rem auto;
}

.navbar__item {
    font-size: .75rem;
    text-align: center;
}

.navbar__item::before {
    display: block;
    margin-bottom: 3px;
}

.navbar__item--home::before {
    content: url("../img/icone-home-mb.svg");
}

.navbar__item--search::before {
    content: url("../img/icone-busca-mb.svg");

}

.navbar__item--library::before {
    content: url("../img/icone-biblioteca-mb.svg");
}

.main {
    grid-area: main;
}